body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

.container-mio {
    display: flex;
    flex-wrap: wrap;
}

.container-mio .box-mio {
    position: relative;
    width: 330px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container-mio .box-mio::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}

.container-mio .box-mio .icon-mio {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.container-mio .box-mio:nth-child(1) .icon-mio {
    box-shadow: 0 0 0 0 #ac194a;
    background: #ac194a;
}

.container-mio .box-mio:nth-child(1):hover .icon-mio {
    box-shadow: 0 0 0 400px #ac194a;
}

.container-mio .box-mio:nth-child(2) .icon-mio {
    box-shadow: 0 0 0 0 #1ee9a5;
    background: #1ee9a5;
}

.container-mio .box-mio:nth-child(2):hover .icon-mio {
    box-shadow: 0 0 0 400px #1ee9a5;
}

.container-mio .box-mio:nth-child(3) .icon-mio {
    box-shadow: 0 0 0 0 #1e4de9;
    background: #1e4de9;
}

.container-mio .box-mio:nth-child(3):hover .icon-mio {
    box-shadow: 0 0 0 400px #1e4de9;
}

.container-mio .box-mio:nth-child(4) .icon-mio {
    box-shadow: 0 0 0 0 #5e137c;
    background: #5e137c;
}

.container-mio .box-mio:nth-child(4):hover .icon-mio {
    box-shadow: 0 0 0 400px #5e137c;
}

.container-mio .box-mio:nth-child(5) .icon-mio {
    box-shadow: 0 0 0 0 #737a0d;
    background: #737a0d;
}

.container-mio .box-mio:nth-child(5):hover .icon-mio {
    box-shadow: 0 0 0 400px #737a0d;
}

.container-mio .box-mio:nth-child(6) .icon-mio {
    box-shadow: 0 0 0 0 #0b5d7e;
    background: #0b5d7e;
}

.container-mio .box-mio:nth-child(6):hover .icon-mio {
    box-shadow: 0 0 0 400px #0b5d7e;
}

.container-mio .box-mio .content-mio {
    position: relative;
    z-index: 1;
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.container-mio .box-mio:hover .content-mio {
    color: #fff;
}

.container-mio .box-mio .content-mio h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    font-weight: 700;
}

.container-mio .box-mio .content-mio p {
    margin: 0;
    padding: 0;
}

.container-mio .box-mio .content-mio a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

/**Create**/
.container-mio-2 {
    display: flex;
    flex-wrap: wrap;
}

.container-mio-2 .box-mio-2 {
    position: relative;
    width: 700px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container-mio-2 .box-mio-2 .icon-mio-2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.container-mio .box-mio .content-mio a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.input-mio {
    width: 500px;
    margin-left: 20px;
    margin-top: 4px;
}

.btn-create-2 {
    width: 800px;
}

.boton-atras {
    padding: 10px 20px;
    background: #087dbd;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.boton-atras:hover {
    padding: 20px 30px;
    background: #065b88;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.boton-eliminar:hover{
    padding: 10px 20px;
    background: #a82913;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.boton-detalle {
    padding: 10px 20px;
    background: #13a8a8;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

    .boton-detalle:hover {
        padding: 20px 30px;
        background: #14a3a3;
        border-radius: 4px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        margin-top: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    }