@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-mio">
    <div class="box-mio">
        <div class="icon-mio">01</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            <a href="#">Registrar</a>
        </div>
    </div>
    <div class="box-mio">
        <div class="icon-mio">02</div>
        <div class="content-mio">
            <h3>Nomina</h3>
            <p>En esta parte puedes ver la nomina actual.</p>
            <a href="#">Totalizar</a>
        </div>
    </div>
    <div class="box-mio">
        <div class="icon-mio">03</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            <a href="#">Registrar</a>
        </div>
    </div>
    <div class="box-mio">
        <div class="icon-mio">03</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            <a href="#">Registrar</a>
        </div>
    </div>
    <div class="box-mio">
        <div class="icon-mio">03</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            <a href="#">Registrar</a>
        </div>
    </div>
    <div class="box-mio">
        <div class="icon-mio">03</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            <a href="#">Registrar</a>
        </div>
    </div>
</div>

