@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-mio">
    
    <div class="box-mio">
        <div class="icon-mio">01</div>
        <div class="content-mio">
            <h3>Registrar empleado</h3>
            <p>En esta parte puedes registrar los empleados.</p>
            @Html.ActionLink("Mantenimiento", "Index", "Empleado")
            @*<a href="#">Registrar</a>*@
        </div>
    </div>

    <div class="box-mio">
        <div class="icon-mio">02</div>
        <div class="content-mio">
            <h3>Registrar Cargo</h3>
            <p>En esta parte puedes registrar los cargos.</p>
            @Html.ActionLink("Mantenimiento", "Index", "Cargo")
            @*<a href="#">Registrar</a>*@
        </div>
    </div>

    <div class="box-mio">
        <div class="icon-mio">03</div>
        <div class="content-mio">
            <h3>Registrar departamento</h3>
            <p>En esta parte puedes registrar los departamentos.</p>
            @Html.ActionLink("Mantenimiento", "Index", "Departamento")
            @*<a href="#">Registrar</a>*@
        </div>
    </div>

    <div class="box-mio">
        <div class="icon-mio">04</div>
        <div class="content-mio">
            <h3>Nomina</h3>
            <p>En esta parte puedes ver la nomina actual.</p>
            <a href="#">Totalizar</a>
        </div>
    </div>

    <div class="box-mio">
        <div class="icon-mio">05</div>
        <div class="content-mio">
            <h3>Informes</h3>
            <p>En esta parte puedes ver los distintos informes.</p>
            <a href="#">Ver</a>
        </div>
    </div>

    <div class="box-mio">
        <div class="icon-mio">06</div>
        <div class="content-mio">
            <h3>Procesos</h3>
            <p>En esta parte puedes ver los distintos procesos.</p>
            <a href="#">Ver</a>
        </div>
    </div>
</div>

